/*Colores*/
/*Fuentes*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  border-bottom: 1px solid #f7f7f7;
}
nav .logo {
  cursor: pointer;
}
nav .logo img {
  height: 7rem;
}

.categories {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}
.categories .item {
  width: 90%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 1rem;
  color: #5a5e5e;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.23);
}
.categories .item--img {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.categories .item--img img {
  width: 100%;
  height: auto;
}
.categories .item--info {
  width: 100%;
  height: 20%;
}
.categories .item:hover {
  background-color: #5a5e5e;
  color: #f7f7f7;
}

.filters {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters--title {
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 1rem 0;
}
.filters--title img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.filters--title h2 {
  margin-right: 1rem;
}
.filters--title .arow_down {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.filters--title .arow_up {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.filters--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters--container__button {
  height: 4rem;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  border: none;
}
.filters--container__button:hover {
  background-color: #5a5e5e;
  color: #f7f7f7;
}
.filters--container__button img {
  margin: 1rem;
  width: 2rem;
  height: 2rem;
}

.kits {
  width: 100%;
  height: 94vh;
  background-color: #f7f7f7;
}
.kits .cards--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f7f7f7;
}
.kits .cards--container .card {
  width: 16rem;
  height: 24rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #f7f7f7;
  font-family: "Mulish", sans-serif;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.23);
}
.kits .cards--container .card--img {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kits .cards--container .card--img img {
  width: 90%;
  height: auto;
}
.kits .cards--container .card--desc {
  width: 100%;
  height: 40%;
  background-color: #060606;
  color: #f7f7f7;
  padding: 1rem;
  border-radius: 0 0rem 1rem 1rem;
}
.kits .cards--container .card--desc__title {
  font-weight: bolder;
}
.kits .cards--container .card--desc__comment {
  font-size: 1.4rem;
  font-weight: 200;
}
.kits .cards--container .card--desc__price {
  font-weight: 600;
  font-size: 1.4rem;
  color: #11974d;
}

.inactive {
  display: none;
}

.active {
  background-color: #11974d;
  color: #f7f7f7;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.23);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.23);
}

@media (min-width: 481px) {
  .kits {
    padding: 1rem;
  }
  .filters--container {
    padding: 0 10rem 0 10rem;
  }
}
@media (min-width: 961px) {
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .categories .item {
    width: 40%;
    height: 70%;
  }
  .filters {
    width: 100%;
    height: auto;
    padding-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .filters--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem;
  }
  .filters--container {
    padding: 0;
  }
  .kits .cards--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}